* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10%;
    height: 100%;
    width: 100%;
}

button {
    margin: 40px;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#game-over-box {
    position: fixed;
    width: 40%;
    height: max-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
    z-index: 3;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#game-over-box h1, h2, span, button {
    text-align: center;
    background-color: white;
}

#game-over-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-over-box button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 100px;
}

#game-over-buttons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    background-color: white;
}

#game-over {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

#game-items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    gap: 50px;
}

#word-shower {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(50, 2%);
    height: 90%;
    width: 95%;
    color: white;
    text-overflow: clip;
}

#word-shower p {
    background: none;
}

#word-input {
    width: 100%;
}

input {
    position: absolute;
    z-index: 2;
    width: 100%;
    border-radius: 0;
    border: none;
    outline: none;
    caret-color: transparent;
    color: white;
    font-size: 40px;
    text-align: center;
}

.words {
    z-index: 1;
    animation: rain 10s linear;
    font-size: 18px;
}

@keyframes rain {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }

}